## General Test Instructions:

> **Duration:** The test is designed to last 30 minutes.

> **Objective:** We are not just interested in your answers, but also in understanding your thought process. Please articulate your reasoning as you work through the problems.

## Steps:

> **Exercise Selection:** Ensure you complete one exercise from each section. Opt for exercises you believe you can solve most efficiently or confidently.

> **Explanation:** As you work on each exercise, please speak aloud and explain the following:
        Which method, algorithm, or methodology you are choosing.
        Why you think it's the best approach for that particular exercise.

> **Using External Resources:** If you feel the need to look up information:
        Open Google and share your screen.
        While searching, discuss your rationale: explain why you're seeking external information and what specifically you're hoping to find.

# Basic Python


## Exercise 1.
Generate a funcion to check if a string is palindrome or not.

Example of palindrome word: "Solos"

In [1]:
# Add your function here

def is_palindrome(word):
  #Check if a word is a Palindrome
  return word == word[::-1]

In [3]:
# Test and validate your results
print(is_palindrome("word"))

False

# SQL

In [4]:
!pip install --upgrade 'sqlalchemy<2.0'
!pip install -U pandasql

Collecting sqlalchemy<2.0
  Downloading SQLAlchemy-1.4.52-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 16.2 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy<2.0) (3.0.3)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.31
    Uninstalling SQLAlchemy-2.0.31:
      Successfully uninstalled SQLAlchemy-2.0.31
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.4.52 which is incompatible.
Successfully installed sqlalchemy-1.4.52
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.25.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.4.52)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=948b0ceb78f0a17d2b85109a93e85b5e1b52ad4ef522fa26e614df6cd89d8459
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [5]:
import pandas as pd
from pandasql import sqldf
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

<ipython-input-5-0f3c1633ba9f>:3: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [6]:
sqldf("select * from df limit 10")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,None,0.0,NaN,None,0.0,NaN,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
1,AFG,Asia,Afghanistan,2020-01-06,None,0.0,NaN,None,0.0,NaN,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
2,AFG,Asia,Afghanistan,2020-01-07,None,0.0,NaN,None,0.0,NaN,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
3,AFG,Asia,Afghanistan,2020-01-08,None,0.0,NaN,None,0.0,NaN,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
4,AFG,Asia,Afghanistan,2020-01-09,None,0.0,NaN,None,0.0,NaN,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
5,AFG,Asia,Afghanistan,2020-01-10,None,0.0,0.0,None,0.0,0.0,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
6,AFG,Asia,Afghanistan,2020-01-11,None,0.0,0.0,None,0.0,0.0,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
7,AFG,Asia,Afghanistan,2020-01-12,None,0.0,0.0,None,0.0,0.0,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
8,AFG,Asia,Afghanistan,2020-01-13,None,0.0,0.0,None,0.0,0.0,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None
9,AFG,Asia,Afghanistan,2020-01-14,None,0.0,0.0,None,0.0,0.0,...,None,37.746,0.5,64.83,0.511,41128772.0,None,None,None,None

## Exercise 1
Retrieve the number of deaths in Bolivia

In [8]:
sqldf("SELECT SUM(new_deaths) AS deaths_Bolivia FROM df WHERE location = 'Bolivia'")

   deaths_Bolivia
0         22387.0

# Pandas

## Exercise 1
Using pandas
Retrieve from df dataframe the number of cases and deaths in South America Countries.  (Hint: Use groupby by continent and location)

In [18]:
# Add your solution here
South_America_df=df[df['continent']=='South America']
#Select my columns and group by their location
group=South_America_df[['location','new_cases','new_deaths','continent']].groupby('continent', 'location')
result=group.agg(total_cases=('new_cases','sum'),
                  total_deaths=('new_deaths','sum')
                  ).reset.index()

ValueError: No axis named location for object type DataFrame