In [72]:
 ### Paquetes Big Data

import findspark
findspark.init()

import pyspark

In [73]:
 ### Evaluar eficiencia del codigo

import time
start = time.time()

#time.sleep(0.5)

end = time.time()

print(end-start)

0.0

In [74]:
 ### Paquete pandas para manipulacion de bases de datos

import pandas as pd

inpath = "D:/Disco D/bigData/data/"
df = pd.read_csv(inpath + "base_datos_2008.csv")
df.head()

x[1:10000]  ## ACCEDE A LAS FILAAAAAS
df[["DepDelay", "ArrDelay"]] ## ACCEDE A LAS COLUMNASSSSS

D:/Disco D/bigData/data/base_datos_2008.csv

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [ ]:
df1 = pd.read_csv(inpath + "Flights_2008.csv")
df1 = df1.sample(frac = 1) # =1 para OBTENER FILA ORDENADAS aleatoriamente

In [75]:
 ### Otras funciones

df.columns # nombres de las variables del df
df.dtypes # tipo de variable de cada columna del df

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [76]:
 ### Filtrado con pandas
    
#1 FILTRAR POR VALORES != NA
df[pd.isna(df["ArrDelay"])].head() 

#2 UNIR DATAFRAMES
dfATL = df[df.Origin == "ATL"]
dfHOU = df[df.Origin == "HOU"]

dfATLHOU = dfATL.append(dfHOU)
dfATLHOU.head(10)

#3 BORRAR FILAS O COLUMNAS
df.drop(range(0,10000)) #elimina las filas dentro de ese rango

df.drop(["CRSArrTime", "CRSDepTime", "TaxiIn"], axis = 1, inplace= True) # borrar columnas

#4 USA OPERADORES LOGICOS
df[df.Origin.isin(["ATL", "HOU"])]

,Year,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,Distance,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3269,2008,1,4,5,1910.0,2025.0,WN,823,N252WN,135.0,...,759,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3270,2008,1,4,5,1345.0,1453.0,WN,901,N374SW,128.0,...,759,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3271,2008,1,4,5,736.0,839.0,WN,957,N504SW,123.0,...,759,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3272,2008,1,4,5,1603.0,1647.0,WN,231,N402WN,44.0,...,148,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3273,2008,1,4,5,2105.0,2151.0,WN,570,N510SW,46.0,...,148,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7009715,2008,12,13,6,848.0,1024.0,DL,1628,N920DL,156.0,...,692,44.0,0,NaN,0,0.0,0.0,19.0,0.0,0.0
7009716,2008,12,13,6,936.0,1114.0,DL,1630,N653DL,98.0,...,515,24.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009718,2008,12,13,6,1007.0,1149.0,DL,1631,N909DA,162.0,...,689,32.0,0,NaN,0,1.0,0.0,19.0,0.0,79.0
7009723,2008,12,13,6,1002.0,1204.0,DL,1636,N646DL,122.0,...,533,45.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
7009724,2008,12,13,6,834.0,1021.0,DL,1637,N908DL,167.0,...,874,23.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [77]:
 ### groupby
    
#1 agrupa por maximo de los retrasos de llegada por cada dia de la semana 
df.groupby("DayOfWeek")["ArrDelay"].max() #o mean(), min(), sd(), numero de casos count(), o resumen estadistico describe() 

dfATLHOU.groupby(["DayOfWeek", "Origin"])["ArrDelay"].mean() # Agrupacion por mas de una categoria

#2 Es posible guardar el groupby en un objeto y aplicar la funcion posteriormente
mygb = dfATLHOU.groupby(["DayOfWeek", "Origin"])["ArrDelay"]
mygb.describe()

                    count       mean        std   min   25%  50%   75%     max
DayOfWeek Origin
1         ATL     60598.0   9.123436  30.958642 -69.0  -8.0  1.0  14.0   407.0
          HOU      8205.0   6.356856  28.887113 -47.0  -7.0 -2.0   9.0   383.0
2         ATL     59732.0   8.933587  34.750658 -89.0  -9.0 -1.0  13.0   848.0
          HOU      8368.0   9.348112  35.321852 -44.0  -7.0 -1.0  12.0   546.0
3         ATL     60245.0   8.809146  34.343042 -56.0  -9.0  0.0  13.0   876.0
          HOU      8330.0   9.073109  33.191673 -39.0  -7.0 -1.0  12.0   639.0
4         ATL     59721.0  10.186501  35.261512 -51.0  -8.0  1.0  15.0   571.0
          HOU      8188.0  12.994016  39.360946 -42.0  -6.0  1.0  17.0  1082.0
5         ATL     60007.0  14.797440  38.859778 -51.0  -7.0  3.0  20.0   699.0
          HOU      8209.0  11.036545  32.415069 -48.0  -6.0  1.0  16.0   560.0
6         ATL     49734.0   9.511662  36.020584 -61.0 -10.0 -1.0  15.0   483.0
          HOU      5614.0   4.283933  32.518381 -47.0  -9.0 -3.0   6.0   917.0
7         ATL     57664.0  13.798627  42.466233 -86.0  -8.0  1.0  17.0   612.0
          HOU      7331.0   7.045287  30.820505 -55.0  -7.0 -1.0  11.0   685.0

In [98]:
 ### Eliminacion de duplicados y faltantes
    
inpath = "D:/Disco D/bigData/data/"
df = pd.read_csv(inpath + "base_datos_2008.csv", nrows = 1e6)

dfdup =df.append(df)
dfdup.drop_duplicates() # una unica funcion que se encarga de eliminar duplicados

df.dropna() # elimina todas las filas con datos faltantes
df.dropna(thresh = len(df.columns)-2) # elimina las filas con mas de 2 columnas con NAs
df.dropna(subset = ["CancellationCode"])

df.isnull().sum() # cantidad se NAs por columna
df.isnull().sum().sum() # Total de NAs en todo el dataframe

Year                      0
Month                     0
DayofMonth                0
DayOfWeek                 0
DepTime               32133
CRSDepTime                0
ArrTime               34639
CRSArrTime                0
UniqueCarrier             0
FlightNum                 0
TailNum               19000
ActualElapsedTime     34639
CRSElapsedTime          106
AirTime               34639
ArrDelay              34639
DepDelay              32133
Origin                    0
Dest                      0
Distance                  0
TaxiIn                34639
TaxiOut               32133
Cancelled                 0
CancellationCode     967867
Diverted                  0
CarrierDelay         745404
WeatherDelay         745404
NASDelay             745404
SecurityDelay        745404
LateAircraftDelay    745404
dtype: int64

In [ ]:
 ### Joints (Unir bases de datos)
    
pd.merge(#1er df, #2do df, on = el by o parametro de union, how = "outer") #unir bases 
     #/ outer = todos en todos los df, inner = solo comunes, right=solo los del df de la der, left = solo los del df de la izq